<hr>
<footer>
    <div class="row">
        <div class="col-md-4 d-flex align-items-center justify-content-center">
            <div>
                <h5>Контактный телефон:</h5><strong><a class="telefon" href="tel:+30970725565">097-072-55-65</a></strong>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12 d-flex align-items-center justify-content-center">
                    <a class="logo-footer" href="#"><img alt="logo" class="logo-img" src="img/logologo.png"></a>
                </div>
                <div class="col-md-12 d-flex justify-content-center">
                    <div class="social odnoklassniki">
                        <a href="#" target="_blank"><i class="fa fa-odnoklassniki fa-2x"></i></a>
                    </div>
                    <div class="social instagram">
                        <a href="#" target="_blank"><i class="fa fa-instagram fa-2x"></i></a>
                    </div>
                    <div class="social facebook">
                        <a href="#" target="_blank"><i class="fa fa-facebook fa-2x"></i></a>
                    </div>
                    <div class="social vk">
                        <a href="#" target="_blank"><i class="fa fa-vk fa-2x"></i></a>
                    </div>
                </div>
                <div class="col-md-12 text-center">
                    <small>Внимание. Информация на сайте предоставлена исключительно для ознакомления, и не является публичной офертой. По всем вопросам обращайтесь по телефону кафе.</small><br>
                    <small>© 2020 ЧП "РЕАЛМАРКЕТ". Все права защищены.</small>
                </div>
            </div>
        </div>
        <div class="col-md-4 d-flex align-items-center justify-content-center">
            <div>
                <h5>Наш адрес:</h5>
                <p>г. Мариуполь</p>
                <p>ул. Куинджи 37</p>
                <p>Кафе "Сертаки"</p>
            </div>
        </div>
    </div>
</footer>



<!-- //menu 2-->
<hr>
<section class="container-fluid nav-wrap">
    <div class="row">
       
        <div class="col-sm-4 d-flex align-items-center justify-content-center">
            <nav>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">главная</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about">меню</a>
                    </li>
                   
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">контакты</a>
                    </li>
                </ul>
            </nav>
        </div>    
        
        <div class="col-sm-4 d-flex align-items-center">       
                <div class="d-flex justify-content-center mx-auto">                    
                    <a class="logo-link d-flex justify-content-center" href="#">
                        <img class="logo d-flex justify-content-center" src="img/logologo.png" alt="logo">    
                    </a>
                </div>          
        </div>

        <div class="col-sm-4 d-flex align-items-center justify-content-center">
          <nav>
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link active" href="#">главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#about">меню</a>
                </li>
               
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact">контакты</a>
                </li>
            </ul>
        </nav>
        </div>    
    </div>
</section> 

<section class="container-fluid wrap-menu2">
    <h2 class="text-center">Меню кафе "Сиртаки "</h2>
    <div class="container">
        <div class="row">
            <div class="col-md-6 menu" id="menu">
                <div class="block-menu">
                    <h3>Чир-Чир мясные</h3>
                    <div class="yellow-uzor"></div>
                    <div class="punkt-menu">
                        <p class="price"><span>Чир-Чир с мясом</span> <span>56 грн</span></p>
                        <p class="info">Состав: мясо тесто и тд</p>
                    </div>
                    <div class="punkt-menu">
                        <p class="price"><span>Чир-Чир с мясом</span> <span>56 грн</span></p>
                        <p class="info">Состав: мясо тесто и тд</p>
                    </div>
                    <div class="punkt-menu">
                        <p class="price"><span>Чир-Чир с мясом</span> <span>56 грн</span></p>
                        <p class="info">Состав: мясо тесто и тд</p>
                    </div>
                    <div class="punkt-menu">
                        <p class="price"><span>Чир-Чир с мясом</span> <span>56 грн</span></p>
                        <p class="info">Состав: мясо тесто и тд</p>
                    </div>
                    <div class="punkt-menu">
                        <p class="price"><span>Чир-Чир с мясом</span> <span>56 грн</span></p>
                        <p class="info">Состав: мясо тесто и тд</p>
                    </div>
                </div>
            </div>
            
            <div class="col-md-6 menu" id="menu">
                <div class="block-menu">
                    <h3>Чир-Чир фруктовые</h3>
                    <div class="yellow-uzor"></div>
                    <div class="punkt-menu">
                        <p class="price"><span>Чир-Чир с мясом</span> <span>56 грн</span></p>
                        <p class="info">Состав: мясо тесто и тд</p>
                    </div>
                    <div class="punkt-menu">
                        <p class="price"><span>Чир-Чир с мясом</span> <span>56 грн</span></p>
                        <p class="info">Состав: мясо тесто и тд</p>
                    </div>
                    <div class="punkt-menu">
                        <p class="price"><span>Чир-Чир с мясом</span> <span>56 грн</span></p>
                        <p class="info">Состав: мясо тесто и тд</p>
                    </div>
                    <div class="punkt-menu">
                        <p class="price"><span>Чир-Чир с мясом</span> <span>56 грн</span></p>
                        <p class="info">Состав: мясо тесто и тд</p>
                    </div>
                    <div class="punkt-menu">
                        <p class="price"><span>Чир-Чир с мясом</span> <span>56 грн</span></p>
                        <p class="info">Состав: мясо тесто и тд</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<footer>
		<div class="row">
			<div class="col-md-4 d-flex align-items-center justify-content-center">
				<div>
					<h5>Контактный телефон:</h5><strong><a class="telefon" href="tel:+30970725565">097-072-55-65</a></strong>
				</div>
			</div>
			<div class="col-md-4">
				<div class="row">
					<div class="col-md-12 d-flex align-items-center justify-content-center">
						<a class="logo-footer" href="#"><img alt="logo" class="logo-img" src="img/logologo.png"></a>
					</div>
					<div class="col-md-12 d-flex justify-content-center">
						<div class="social odnoklassniki">
							<a href="#" target="_blank"><i class="fa fa-odnoklassniki fa-2x"></i></a>
						</div>
						<div class="social instagram">
							<a href="#" target="_blank"><i class="fa fa-instagram fa-2x"></i></a>
						</div>
						<div class="social facebook">
							<a href="#" target="_blank"><i class="fa fa-facebook fa-2x"></i></a>
						</div>
						<div class="social vk">
							<a href="#" target="_blank"><i class="fa fa-vk fa-2x"></i></a>
						</div>
					</div>
					<div class="col-md-12 text-center">
						<small>Внимание. Информация на сайте предоставлена исключительно для ознакомления, и не является публичной офертой. По всем вопросам обращайтесь по телефону кафе.</small><br>
						<small>© 2020 ЧП "РЕАЛМАРКЕТ". Все права защищены.</small>
					</div>
				</div>
			</div>
			<div class="col-md-4 d-flex align-items-center justify-content-center">
				<div>
					<h5>Наш адрес:</h5>
					<p>г. Мариуполь</p>
					<p>ул. Куинджи 37</p>
					<p>Кафе "Сертаки"</p>
				</div>
			</div>
		</div>
	</footer>
</body>
</html>


<!-- контакты -->
<hr>
<section class="container-fluid nav-wrap">
    <div class="row">
       
        <div class="col-sm-4 d-flex align-items-center justify-content-center">
            <nav>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">главная</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about">меню</a>
                    </li>
                   
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">контакты</a>
                    </li>
                </ul>
            </nav>
        </div>    
        
        <div class="col-sm-4 d-flex align-items-center">       
                <div class="d-flex justify-content-center mx-auto">                    
                    <a class="logo-link d-flex justify-content-center" href="#">
                        <img class="logo d-flex justify-content-center" src="img/logologo.png" alt="logo">    
                    </a>
                </div>          
        </div>

        <div class="col-sm-4 d-flex align-items-center justify-content-center">
          <nav>
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link active" href="#">главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#about">меню</a>
                </li>
               
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact">контакты</a>
                </li>
            </ul>
        </nav>
        </div>    
    </div>
</section> 
<h2 class="text-center"> Контакты</h2>
<section container-fluid>
    <iframe 
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2716.0742334735105!2d37.54921161548938!3d47.097615379154206!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40e6e46f582e6ef5%3A0xc045d2dd30a96778!2z0JrQsNGE0LUgIiDQodC40YDRgtCw0LrQuCI!5e0!3m2!1sru!2sua!4v1586305083480!5m2!1sru!2sua" 
    width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0">
    </iframe>
</section>

<footer>
    <div class="row">
        <div class="col-md-4 d-flex align-items-center justify-content-center">
            <div>
                <h5>Контактный телефон:</h5><strong><a class="telefon" href="tel:+30970725565">097-072-55-65</a></strong>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12 d-flex align-items-center justify-content-center">
                    <a class="logo-footer" href="#"><img alt="logo" class="logo-img" src="img/logologo.png"></a>
                </div>
                <div class="col-md-12 d-flex justify-content-center">
                    <div class="social odnoklassniki">
                        <a href="#" target="_blank"><i class="fa fa-odnoklassniki fa-2x"></i></a>
                    </div>
                    <div class="social instagram">
                        <a href="#" target="_blank"><i class="fa fa-instagram fa-2x"></i></a>
                    </div>
                    <div class="social facebook">
                        <a href="#" target="_blank"><i class="fa fa-facebook fa-2x"></i></a>
                    </div>
                    <div class="social vk">
                        <a href="#" target="_blank"><i class="fa fa-vk fa-2x"></i></a>
                    </div>
                </div>
                <div class="col-md-12 text-center">
                    <small>Внимание. Информация на сайте предоставлена исключительно для ознакомления, и не является публичной офертой. По всем вопросам обращайтесь по телефону кафе.</small><br>
                    <small>© 2020 ЧП "РЕАЛМАРКЕТ". Все права защищены.</small>
                </div>
            </div>
        </div>
        <div class="col-md-4 d-flex align-items-center justify-content-center">
            <div>
                <h5>Наш адрес:</h5>
                <p>г. Мариуполь</p>
                <p>ул. Куинджи 37</p>
                <p>Кафе "Сертаки"</p>
            </div>
        </div>
    </div>
</footer>
</body>
</html>
<!-- 
меню общее -->

<hr>
<section class="container-fluid nav-wrap">
    <div class="row">
       
        <div class="col-sm-4 d-flex align-items-center justify-content-center">
            <nav>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">главная</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about">меню</a>
                    </li>
                   
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">контакты</a>
                    </li>
                </ul>
            </nav>
        </div>    
        
        <div class="col-sm-4 d-flex align-items-center">       
                <div class="d-flex justify-content-center mx-auto">                    
                    <a class="logo-link d-flex justify-content-center" href="#">
                        <img class="logo d-flex justify-content-center" src="img/logologo.png" alt="logo">    
                    </a>
                </div>          
        </div>

        <div class="col-sm-4 d-flex align-items-center justify-content-center">
          <nav>
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link active" href="#">главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#about">меню</a>
                </li>
               
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact">контакты</a>
                </li>
            </ul>
        </nav>
        </div>    
    </div>
</section> 



<section class="container-fluid wrap-menu2 wrap-nenuall ">
    <div class="container">
        <div class="yellow-uzor"></div>
    <h2 class="text-center head-h2"> Меню кафе "СЕРТАКИ"</h2>
    <div class="yellow-uzor"></div>
    
    <div class="row">
        <div class="row ">
            <div class="col-md-4 ">
                <div class="animate4">
                    <!-- <span class="menu-span">Чебуреки</span> -->
                    <a href=""><img src="img/chir-chir.jpg" class="img-fluid  " alt="Responsive image"></a>
                </div>
            </div>
            <div class="col-md-4 ">
                <div class="animate4">
                    <!-- <span class="menu-span">Молочные блюда</span> -->
                    <a href=""><img src="img/molochka.jpg" class="img-fluid " alt="Responsive image"></a>
                </div>
            </div>
           
            <div class="col-md-4 ">
                <div class="animate4">
                    <!-- <span class="menu-span">Чебуреки</span> -->
                    <a href=""><img src="img/goryachie_blyda.jpg" class="img-fluid  " alt="Responsive image"></a>
                </div>
            </div>
            <div class="col-md-4 ">
                <div class="animate4">
                    <!-- <span class="menu-span">Молочные блюда</span> -->
                    <a href=""><img src="img/garnir.jpg" class="img-fluid " alt="Responsive image"></a>
                </div>
            </div>
            <div class="col-md-4 ">
                <div class="animate4">
                    <!-- <span class="menu-span">Чебуреки</span> -->
                    <a href=""><img src="img/soups.jpg" class="img-fluid" alt="Responsive image"></a>
                </div>
            </div>
            <div class="col-md-4 ">
                <div class="animate4">
                    <!-- <span class="menu-span">Чебуреки</span> -->
                    <a href=""><img src="img/zakuski.jpg" class="img-fluid" alt="Responsive image"></a>
                </div>
            </div>
            <div class="col-md-4 ">
                <div class="animate4">
<div class="ffon">
                        <!-- <span class="menu-span">Чебуреки</span> -->
                        <a href=""><img src="img/salad.jpg" class="img-fluid  " alt="Responsive image"></a>

               </div>
            </div>
            </div>
            <div class="col-md-4 ">
                <div class="animate4">
                    <!-- <span class="menu-span">Молочные блюда</span> -->
                    <a href=""><img src="img/sneki.jpg" class="img-fluid " alt="Responsive image"></a>
                </div>
            </div>
           
            <div class="col-md-4 ">
                <div class="animate4">
                    <!-- <span class="menu-span">Чебуреки</span> -->
                    <a href=""><img src="img/desert.jpg" class="img-fluid" alt="Responsive image"></a>
                </div>
            </div>
            <div class="col-md-4 ">
                <div class="animate4">
                    <!-- <span class="menu-span">Чебуреки</span> -->
                    <a href=""><img src="img/spirtnoe.jpg" class="img-fluid" alt="Responsive image"></a>
                </div>
            </div>
            <div class="col-md-4 ">
                <div class="animate4">
                    <!-- <span class="menu-span">Чебуреки</span> -->
                    <a href=""><img src="img/spirtnoe1.jpg" class="img-fluid" alt="Responsive image"></a>
                </div>
            </div>
            <div class="col-md-4 ">
                <div class="animate4">
                    <!-- <span class="menu-span">Чебуреки</span> -->
                    <a href=""><img src="img/juce.jpg" class="img-fluid" alt="Responsive image"></a>
                </div>
            </div>
        
</div>

</section>




<footer>
    <div class="row">
        <div class="col-md-4 d-flex align-items-center justify-content-center">
            <div>
                <h5>Контактный телефон:</h5><strong><a class="telefon" href="tel:+30970725565">097-072-55-65</a></strong>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12 d-flex align-items-center justify-content-center">
                    <a class="logo-footer" href="#"><img alt="logo" class="logo-img" src="img/logologo.png"></a>
                </div>
                <div class="col-md-12 d-flex justify-content-center">
                    <div class="social odnoklassniki">
                        <a href="#" target="_blank"><i class="fa fa-odnoklassniki fa-2x"></i></a>
                    </div>
                    <div class="social instagram">
                        <a href="#" target="_blank"><i class="fa fa-instagram fa-2x"></i></a>
                    </div>
                    <div class="social facebook">
                        <a href="#" target="_blank"><i class="fa fa-facebook fa-2x"></i></a>
                    </div>
                    <div class="social vk">
                        <a href="#" target="_blank"><i class="fa fa-vk fa-2x"></i></a>
                    </div>
                </div>
                <div class="col-md-12 text-center">
                    <small>Внимание. Информация на сайте предоставлена исключительно для ознакомления, и не является публичной офертой. По всем вопросам обращайтесь по телефону кафе.</small><br>
                    <small>© 2020 ЧП "РЕАЛМАРКЕТ". Все права защищены.</small>
                </div>
            </div>
        </div>
        <div class="col-md-4 d-flex align-items-center justify-content-center">
            <div>
                <h5>Наш адрес:</h5>
                <p>г. Мариуполь</p>
                <p>ул. Куинджи 37</p>
                <p>Кафе "Сертаки"</p>
            </div>
        </div>
    </div>
</footer>
</body>
</html>

