
<footer>
 <div class="row">
        <div class="col-md-4 d-flex align-items-center justify-content-center">
            <div>
                <h5>Контактный телефон:</h5>
                <strong>+38063636363</strong>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
               <div class="col-md-12 d-flex align-items-center justify-content-center ">
                    <a href="#" class="logo-footer">
                        <img class="logo-img" src="img/logologo.png" alt="logo">    
                    </a>
               </div>
               <div class="col-md-12  d-flex justify-content-center">
                <div class="social odnoklassniki">
                    <a href="#" target="_blank"><i class="fa fa-odnoklassniki fa-2x"></i></a>   
                </div>
                <div class="social instagram">
                    <a href="#" target="_blank"><i class="fa fa-instagram fa-2x"></i></a>
                </div>
                <div class="social facebook">
                    <a href="#" target="_blank"><i class="fa fa-facebook fa-2x"></i></a>    
                </div>
                <div class="social vk">
                    <a href="#" target="_blank"><i class="fa fa-vk fa-2x"></i></a>    
                </div>
               </div>
               <div class="col-md-12 text-center">
                   <small>Внимание. Информация на сайте предоставлена исключительно для ознакомления,
                        и не является публичной офертой. По всем вопросам обращайтесь по телефону кафе.</small><br>
                    <small>© 2020 ЧП "РЕАЛМАРКЕТ". Все права защищены.</small>
               </div>
            </div>
        </div>
        <div class="col-md-4 d-flex align-items-center justify-content-center">
            <div>
                <h5>Наш адрес:<h5>           
                <p>г. Мариуполь</p>
                <p>ул. Куинджи 37</p>
                <p>Кафе "Сертаки"</p>
            </div>
        </div>
 </div>
</footer>