
 <section class="container-fluid nav-wrap">
    <div class="row">
       
        <div class="col-sm-4 d-flex align-items-center">
            <nav>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">главная</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about">меню</a>
                    </li>
                   
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">контакты</a>
                    </li>
                </ul>
            </nav>
        </div>    
        
        <div class="col-sm-4 d-flex align-items-center">       
                <div class="d-flex justify-content-center mx-auto">                    
                    <a class="logo-link d-flex justify-content-center" href="#">
                        <img class="logo d-flex justify-content-center" src="img/logoss.png" alt="logo">    
                    </a>
                </div>          
        </div>

        <div class="col-sm-4 d-flex align-items-center justify-content-center">
          <div class="row">
                <div class="col-md-12 d-flex align-items-center tel justify-content-center">
                    <a href="tel:+78142332211"> тел. +7(814)-233-22-11</a>
                </div>
                    <div class="col-md-12 ">
                        <ul class="socialIcons justify-content-center">
                            <li><a class="facebook" href="#!"><i class="fa fa-facebook"></i></a></li>
                            <li><a class="twitter" href="#!"><i class="fa fa-twitter"></i></a></li>
                            <li><a class="instagram" href="#!"><i class="fa fa-instagram"></i></a></li>
                            <li><a class="youtube" href="#!"><i class="fa fa-youtube"></i></a></li>
                          </ul>
                    </div>
          </div>
            
        </div>    
    </div>
</section> 





<header class="container-fluid  header-wrapper ">
    <section class="container-fluid fix">
  
    
        <!-- <div class="title">
          <h2>Популярные блюда</h2>
        </div> -->
        <div class="sliders">
          <div class="sliders__slide"><img alt="444651" class="sliders__img" src="img/sl.jpg"></div>
          <div class="sliders__slide"><img alt="444651" class="sliders__img" src="img/vine.jpg"></div>
          <div class="sliders__slide"><img alt="444651" class="sliders__img" src="img/povar.jpg"></div>
          <div class="sliders__slide"><img alt="444651" class="sliders__img" src="img/chir.jpg"></div>
          <div class="sliders__slide"><img alt="444651" class="sliders__img" src="img/1.jpg"></div>
          <div class="sliders__slide"><img alt="444651" class="sliders__img" src="img/2.jpg"></div>
          <div class="sliders__slide"><img alt="444651" class="sliders__img" src="img/3.jpg"></div>
          <div class="sliders__slide"><img alt="444651" class="sliders__img" src="img/4.jpg"></div>
          <div class="sliders__slide"><img alt="444651" class="sliders__img" src="img/5.jpg"></div>
        </div>
        <div class="arrows">
            <a class="arrows__arrow arrows__arrow--next1" href="#"><svg>
                    <use xlink:href="#left1"></use>
                </svg></a>
            <a class="arrows__arrow arrows__arrow--prev1" href="#"><svg>
                    <use xlink:href="#right1"></use>
                </svg></a>
        </div>
          
    </section> 
   
     <!-- <div class="container ">
      
        <div class="text text-center  ">
            <h1 class="text-center">Кафе "Сертаки"</h1>
            <span class="text-center">Будь человеком - закажи арьян с чебуреком(слоган нужен+ логотип)</span>
        </div>
        <div class="row">
            <div class="col-md-6 div__btn ">
                <a href="#" class="btn  btn-outline-warning">подробнее</a>
            </div>
            <div class="col-md-6 div__btn">
                <a href="#" class="btn btn-outline-warning"">заказать</a>
            </div>
            
        </div>
    </div>  -->
</header> 


