@import 'bootstrap/bootstrap';
@import 'variables';
@import 'mixins';
@import 'slick/slick.scss';
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
// @import 'slick/slick-theme.scss';
* {
    box-sizing: border-box;
}
html {    
    font-size: 16px;  
}

body {
    min-height: 100%;
    font-family: 'Open Sans Condensed', sans-serif;

    // // font-family: 'Caesar Dressing', cursive;
    // font-family: 'Uncial Antiqua', cursive;
}

.nav-wrap {
    // background-color: rgb(85, 79, 78); 
    // background: linear-gradient(-90deg, #2f2f2f, #fff5b2);   
    background-color: #fff;
   
.logo-link {
   
    .logo {
       
    width: 300px;
    height: 110px;
    margin: 5px 20px 10px;
    // @include hover {
    //     transform: scale3d(1.1, 1.1, 1.1);
    //     transition-duration: .9s;
    //     cursor: pointer;
    // }
}}
.nav {
    width: 100%;
    margin: 10px;
    justify-content: space-between;
    align-items: center;

    .nav-item
    {margin-right: 10px;
        .nav-link {
            text-transform: uppercase;
   
            font-size: 1.8em;
            color: #070707;

            padding: 0;
            // @include hover {
            //     transform: scale(1, 1.1);
            //     transition-duration: .9s;
            //     transform: rotate(0deg);
            //     color: #fff5b2;
            //     text-shadow: 0px 0px 1px #131313, 0px 0px 1px #070707, 0px 0px 1px black, 0px 0px 1px black;
            //     cursor: pointer;
            // }
        
        }
    }
}
}

.div__btn {	
	text-transform: uppercase;	
    text-align: center;
    display: flex;
    justify-content: center;
    
	
    .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        	width: 250px;
	height: 80px;
        font-size: 1.5rem;
        
        
        @include hover {
			color: #9f9acf;
			border-color: #fff;
            background-color: rgba(235, 235, 235, 0.808);
		}

    }
}

.header-wrapper {
    
    // background-color: rgb(228, 216, 216);
    // width: 100%;
    // min-height: 100vh;
    // background-image: url(./../img/chir.jpg);
    // background-repeat: no-repeat;
	// background-position: center center;
    // background-size: cover;
    
    .text {
        margin: 0px 25px 60px;
        h1 {
            font-size: 69px;
            font-weight: bold;
            color: rgb(240, 236, 12);
            margin-bottom: 30px;
        }
        span {
            color: rgb(240, 236, 12);
            font-size: 2rem;
        }

    }
    

    
}

.sliders {
    width: 100%;	
    min-height: 80vh;
    

}

.sliders__slide--1 {
    width: 100%;	
    min-height: 80vh;
    background-image: url(./../img/chir.jpg);    
    background-repeat: no-repeat;
	background-position: center center;
    background-size: cover;
}
.sliders__slide--2 {
    width: 100%;	
    min-height: 80vh;
    background-image: url(./../img/vine.jpg);
    background-repeat: no-repeat;
	background-position: center center;
    background-size: cover;
}
.sliders__slide--3 {
    width: 100%;	
    min-height: 80vh;
    background-image: url(./../img/povar.jpg);
    background-repeat: no-repeat;
	background-position: center center;
    background-size: cover;
}
.sliders__slide--4 {
    width: 100%;	
    min-height: 80vh;
    background-image: url(./../img/sl.jpg);
    background-repeat: no-repeat;
	background-position: center center;
    background-size: cover;
}
.sliders__slide--5 {
    width: 100%;	
    min-height: 80vh;
    background-image: url(./../img/1.jpg);
    background-repeat: no-repeat;
	background-position: center center;
    background-size: cover;
}
.sliders__slide--6 {
    width: 100%;	
    min-height: 80vh;
    background-image: url(./../img/2.jpg);
    background-repeat: no-repeat;
	background-position: center center;
    background-size: cover;
}
.sliders__slide--7 {
    width: 100%;	
    min-height: 80vh;
    background-image: url(./../img/3.jpg);
    background-repeat: no-repeat;
	background-position: center center;
    background-size: cover;
}
.sliders__slide--8 {
    width: 100%;	
    min-height: 80vh;
    background-image: url(./../img/4.jpg);
    background-repeat: no-repeat;
	background-position: center center;
    background-size: cover;
}
.sliders__slide--9 {
    width: 100%;	
    min-height: 80vh;
    background-image: url(./../img/5.jpg);
    background-repeat: no-repeat;
	background-position: center center;
    background-size: cover;
}



.arrows {
    position: relative;
    padding: 0 20px 0 25px;
	width: 100%;
	display: flex; // padding: 0 15px;
	justify-content: space-between;
	bottom: -50%;
	left: 50%;
	transform: translate(-50%, -950%);
	z-index: 2;
	&__arrow {
		width: 32px;
		height: 40px;
		svg {
			width: 22px;
            height: 100px;
            fill: #fff;
		}
	}
	@media (max-width: 576px) {
		display: none;
	}
}

.socialIcons {
    width: 100%;   
    padding: 0;
    list-style: none;
    display:flex;
    margin: auto;    
    text-align: center;
   
  }
  .socialIcons li {
    display: flex;
    justify-content: space-between;
    margin: auto 10px;
  }
  .socialIcons li a {
    text-align: center;
    display: flex;
    font-size: 3rem;
    height: 50px;
    width: 50px;
    // line-height: 100px;
    color: #fff5b2;
    transition: all .5s ease;
    transform-origin: left;
    transform: rotateY(-30deg);
    text-shadow: 10px 0px 1px #131313, 10px 0px 1px #070707, 10px 0px 1px black, 10px 0px 1px black;
    text-decoration: none;
    line-height: 0;
    margin-left: 20px;
  }
  
  .socialIcons li a i {
    line-height: 1;
  }
  .socialIcons li a:hover {
    color: #202020;
    transform: rotate(0deg);
    text-shadow: 0px 0px 1px #131313, 0px 0px 1px #070707, 0px 0px 1px black, 0px 0px 1px black;
  }

//   .tel {
//       width:350px;
//       a {
//         text-align: center;
//         display: flex;
//         font-size: 1.8rem;
       
//         line-height: 50px;
//         color: #fff5b2;
//         transition: all .5s ease;
//         transform-origin: left;
//         transform: rotateY(-30deg);
//         text-shadow: 10px 0px 1px #131313, 10px 0px 1px #070707, 10px 0px 1px black, 10px 0px 1px black;
//         text-decoration: none;
        
//       }
//       a:hover {
//         // color: #202020;
//         transform: scale3d(1, 1, 0.9);
//         transition: all .9s ease;
  
//         // text-shadow: 0px 0px 1px #131313, 0px 0px 1px #070707, 0px 0px 1px black, 0px 0px 1px black;
        
//       }
//   }
//midle
.foto-fa {
    max-width: 300px;
    height: 600px;
}


.wrapper-f {
    h2 {
        text-align: center;
    }
    p {
        text-align: justify;
    }
    padding-left: 10px;
    font-size: 1.3rem;
}
.telefon {
    color: #000;
    text-decoration: none;
    
}

.telefon:hover {
    color: #202020;    
    text-decoration: none;    
  }



//   footer

footer {
    padding: 5px 0;
}
.logo-footer {
   
    
}
.logo-img {
    display: flex;
    width: 180px;
    height: 80px;
    margin: 0 auto;
}



.social {
   display: flex;
}
.social a {
    text-align: center;
    width: 38px;
    height: 38px;
    float: left;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0,0,0,0.15), inset 0 0 50px rgba(0,0,0,0.1);
    border-radius: 24px;
    margin: 0 5px 0 5px;
    padding: 6px;
    color: #000;
}
.social a i {
    font-size: 15px;
}



.instagram a:hover {background: #3f729b; color: #fff;}
.facebook a:hover {background: #3b5998; color: #fff;}
.vk a:hover {background: #5d84ae; color: #fff;}
.odnoklassniki a:hover {background: #f93; color: #fff;}


//menu
.wrap-menu {
  background-image: url(../img/fon2.jpg);
  background-repeat: no-repeat;
	background-position: center center;
    background-size: cover;
}
.wrap-menu2 {
  background-image: url(../img/lg3.png);
  background-repeat: no-repeat;
	background-position: center center;
    background-size: cover;
}
.wrap-menu3 {
  background-image: url(../img/lg1.jpg);
  background-repeat: no-repeat;
	background-position: center center;
    background-size: cover;
}
.wrap-menu4 {
  background-image: url(../img/lg.jpg);
  background-repeat: no-repeat;
	// background-position: center;
    background-size: cover;
}


.menu {
	width: 1600px;
	padding:70px 0;
	margin:0 auto;
	display:flex;
	justify-content: center;
}
.block-menu {
	width: 440px;
	// margin:0 85px;
	text-align: center;
}
.block-menu h3 {
	font-family: 'Yeseva One', cursive;
	font-size: 36px;
	font-weight: normal;
	color:#c90;
	margin:0 0 45px;
}
.punkt-menu {
	margin-bottom: 35px;
}
.price {
	border-bottom:1px solid #c90;
	color:#c90;
	display:flex;
	font-family: 'Yeseva One', cursive;
	font-size: 21px;
	justify-content: space-between;
	margin: 0;
	padding-bottom: 7px;
}
.info {
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	color:#4c4c4c;
	margin: 0;
	padding-top: 7px;
	text-align: left;
}
.special {
	border:1px solid #c90;
	padding:7px;
	margin-top: 20px;
	position: relative;
}
.special:before {
	content: "Special";
	display: block;
	width: 70px;
	height: 22px;
	background: #c90;
	color:#fff;
	font-size: 14px;
	font-family: 'Lato', sans-serif;
	line-height: 22px;
	position: absolute;
	top:-22px;
	right:-1px;
}
.yellow-uzor
{
	width: 247px;
	height: 28px;
	background: url(../img/yellow_uzor.png);
	margin: 25px auto;
}






// menu-all

             
.animate4{

  border: 10px solid transparent;
  // border: 1px solid rgba(245, 177, 6, 1.0);
border-image: linear-gradient(  rgba(245, 177, 6, 1.0) 100%);
border-image-slice: 1;
  box-shadow: 1px 1px 2px #fff, 1px 1px 2px rgba(158,111,86,0.3) inset;
 border-radius: 4px;
  position: relative;
  transition: all 1s ease;
  margin: 2px;
  
}
.animate4:hover{
  box-shadow: 1px 1px 2px #fff, 1px 1px 2px rgba(158,111,86,0.3) inset;
 border-radius: 4px;
  z-index: 2;
  transform: scale(1.3); /* эффект трансформации для других браузеров */
  
}

.menu-span {
  display: block;
  position: absolute;
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 3rem;
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.wrap-nenuall {
 padding: 100px;
}




